* {
    box-sizing: border-box;
}
#wrapper {
    display: flex;
    gap: 5px;
}

.log_item {
    display: flex;
    gap: 6px;
    border-bottom: 1px solid black
}

.cell {
    margin: 0;
    padding: 0;
}