

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #F3F5F9;
}

#wrapper {
    margin: 20px;
    padding: 16px;
    width: 100%;
    max-width: 900px;
    
    background: white;

    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


#menu {
    display: flex;
    gap: 8px;
    border-bottom: 1px solid #ccc;
}

#menu a {
    padding: 6px 12px;

    text-decoration: none;
    color: #a9a8a8;
}

.active {
    border-bottom: 4px solid #3B55A5;
    color: #3B55A5 !important;
}

#menu a:hover {
    color: #3B55A5;
}


#script_card {
    display: flex;
    gap: 16px;
}


#script_list {
    min-width: 200px;
    max-width: 260px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px;

    display: flex;
    flex-direction: column;
    gap: 6px;
    overflow-y: auto;
    max-height: 500px;
}

#edit_script {
    border-radius: 6px;
    padding: 12px;
    
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 12px;
}

.list_item a {
    text-decoration: none;
    color: #353535;
}

.list_item a:hover {
    text-decoration: underline;
}


form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input_field {
    display: flex;
    gap: 6px;
    align-items: center;

    padding-bottom: 8px;
}

.input_field label {
    width: 150px;
}

.input_field input {
    flex: 0.5;
}

.divider {
    border-bottom: 1px solid #ddd;
    display: block;
    margin: 16px 0;
}

input[type="text"], textarea, input[type="password"] {
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    padding: 6px;

    font-size: 14px;
}

textarea {
    min-height: 180px;
    max-width: 550px;
}


input[type="checkbox"] {
    margin-left: 6px;
}

.button_div {
    display: flex;
    justify-content: flex-end;
}

button {
    border: 1px solid transparent;
    padding: 8px 18px;
    border-radius: 4px;
    background: #3B55A5;
    color : white;
    
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background: white;
    color: #3B55A5;
    border: 1px solid #3B55A5;
}


#login_form {

    padding: 16px;
    border-radius: 6px;

    display: flex;
    justify-self: center;
    align-self: center;

    background-color: white;

    box-shadow: #ccc 10px 10px 20px;
}


#logs {
    border: 1px solid #ccc;
    border-radius: 6px;
    max-height: 500px;

    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.log_item {
    border-bottom: 1px solid #ddd;
    padding: 8px 10px;

    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    font-size: 14px;
}

#logs .first_log {
    font-weight: bold;
    border-bottom: 2px solid #ababab;
}

#logs .log_item:hover {
    background: #f6f6f6;
}

.cell {
    overflow: hidden;
    width: 25%;
}